/model/src/META-INF/persistence.xml
/model/src/META-INF/persistence.xml
/model/.settings
/model/build
/model/WebContent/WEB-INF/config.properties
/model/.classpath
bin/
/model/target
/model/.project
/web/.classpath
/web/.project
/web/.settings
/web/target
/maps-widget
/Servers
/.metadata
/RemoteSystemsTempFiles
