/model/src/META-INF/persistence.xml
/model/src/META-INF/persistence.xml
/model/.settings
/model/build
/model/WebContent/WEB-INF/config.properties
/model/.classpath
bin/
/model/target
/model/.project
/web/.classpath
/web/.project
/web/.settings
/web/target
/workers/.project
/workers/.classpath
/workers/target
/workers/.settings
/maps-widget/.settings
/maps-widget/.project
/maps-widget/.classpath
/maps-widget/target
/Servers
/.metadata
/RemoteSystemsTempFiles
.settings
.classpath
