h1 {
	margin-left: 1.5%;
	margin-bottom: 5px;
}

.clientInfo h3 {
	margin-left: 1%;
}

.clientInfo {
	display: inline-block;
	width: 70%;
	height: 630px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-left: 1%;
}

.pickingInfo {
	display: inline-block;
	margin-right: 2%;
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
	height: 250px;
	width: 25%;
}

.sender_panel #senderName, .receiver_panel #receiverName {
	margin-left: 5px;
	width: 320px;
	height: 25px;
	outline: none;
	margin-top: 15px;
}

.pickingInfo label {
	margin-left: 5px;
}

.pickingInfo input[type="text"] {
	margin-left: 5px;
	width: 220px;
	height: 25px;
	outline: none;
	margin-top: 15px;
}

.save {
	margin-left: 45%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.save #saveBtn {
	outline: none;
	-moz-box-shadow: inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #a6827e;
	box-shadow: inset 0px 1px 0px 0px #a6827e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b
		), color-stop(1, #634b30));
	background: -moz-linear-gradient(center top, #7d5d3b 5%, #634b30 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b',
		endColorstr='#634b30');
	background-color: #7d5d3b;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0;
	border: 1px solid #54381e;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 37px;
	line-height: 10px;
	width: 90px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #7d5d3b;
}

.save #saveBtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30
		), color-stop(1, #7d5d3b));
	background: -moz-linear-gradient(center top, #634b30 5%, #7d5d3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30',
		endColorstr='#7d5d3b');
	background-color: #634b30;
}

.save #saveBtn:active {
	position: relative;
	top: 1px;
}

